body {
	background-image: url("./images/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.product {
	height: 250px;
	width: 240px;
}
.singleCard {
	text-align: center;
}
.products {
	margin: 3%;
}
.arrow{
	height: 10%;
	width: 10%;
}
.productLine {
	width: 25rem;
	height: 16rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.cart {
	text-align: center;
}